<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>View Product</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1>View Product</h1>
        <a th:href="@{/products}">Back to Product List</a>
        <br/><br/>
        <div th:if="${product}">
            <table border="0">
                <tr>
                    <td>ID</td>
                    <td>:</td>
                    <td th:utext="${product.id}">...</td>          
                </tr>
                <tr>
                    <td>Name</td>
                    <td>:</td>
                    <td th:utext="${product.name}">...</td>             
                </tr>
                <tr>
                    <td>Image1</td>
                    <td>:</td>
                    <td th:utext="${product.image1}">...</td>
                </tr>
                <tr>
                    <td>Image2</td>
                    <td>:</td>
                    <td th:utext="${product.image2}">...</td>
                </tr>
                <tr>
                    <td>Image3</td>
                    <td>:</td>
                    <td th:utext="${product.image3}">...</td>
                </tr>
                <tr>
                    <td>Image4</td>
                    <td>:</td>
                    <td th:utext="${product.image4}">...</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>:</td>
                    <td th:utext="${product.price}">...</td>
                </tr>
                <tr>
                    <td>Stock</td>
                    <td>:</td>
                    <td th:utext="${product.stock}">...</td>
                </tr>
                <tr>
                    <td>Reviews</td>
                    <td>:</td>
                    <td th:utext="${product.reviews}">...</td>
                </tr>
                <tr>
                    <td>Categories</td>
                    <td>:</td>
                    <td th:utext="${product.categories}">...</td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td>:</td>
                    <td th:utext="${product.discount}">...</td>
                </tr>
                <tr>
                    <td>Tags</td>
                    <td>:</td>
                    <td th:utext="${product.tags}">...</td>
                </tr>
            </table>
            <br/><br/>
            <div th:if="not ${allowDelete}">
                <a th:href="@{/products/{productId}/edit(productId=${product.id})}">Edit</a> |
                <a th:href="@{/products/{productId}/delete(productId=${product.id})}">Delete</a>
            </div>
            <form th:if="${allowDelete}" th:action="@{/products/{productId}/delete(productId=${product.id})}" method="POST">
                Delete this product? <input type="submit" th:value="Yes" />
            </form>
        </div>
        <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />        
    </body>
</html>